@import '../../../../../variables.scss';
@import '../../../../../mixins.scss';

.user-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
