<section class="center-container">
  <header>Display</header>
  <main>
    <div class="list--container">
      <ng-container *ngIf="selectedService === 'cars' && cars && cars.length > 0">
        <app-car-list [cars]="cars" class="list" (carSelected)="selectCar($event)"></app-car-list>
      </ng-container>
      <ng-container *ngIf="selectedService === 'users' && users && users.length > 0">
        <app-user-list [users]="users" class="list" (userSelected)="selectUser($event)"></app-user-list>
      </ng-container>
    </div>
  </main>
</section>
