@import '../../../variables.scss';
@import '../../../mixins.scss';

.left-container {
  box-shadow: $default-box-shadow;
  color: $text-color-light;
  height: 100%;

  header {
    @include main-header;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 0.5rem;

    .service {
      cursor: pointer;
      display: flex;
      font-size: $font-size-big;
      justify-content: center;
      width: 100%;

      &.disabled {
        color: $text-color-disabled;
        cursor: not-allowed;
      }

      &.active {
        box-shadow: 0 0 1px #ccc;
        background-color: $primary-color-light;
      }
    }
  }
}
