@import '../../../variables.scss';
@import '../../../mixins.scss';

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.right-container {
  box-shadow: $default-box-shadow;
  color: $text-color-light;
  height: 100%;

  header {
    @include main-header;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: blink 2s infinite;
      height: 222px;
      margin: 0.5rem;
    }

    *:not(:last-child) {
      border-block-end: 1px solid $text-color-light;
    }
  }
}
