@import '../../../variables.scss';
@import '../../../mixins.scss';

.right-container {
  box-shadow: $default-box-shadow;
  color: $text-color-light;
  height: 100%;

  header {
    @include main-header;
  }
}
