@import '../../../variables.scss';
@import '../../../mixins.scss';

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.right-container {
  box-shadow: $default-box-shadow;
  color: $text-color-light;
  height: 100%;

  header {
    @include main-header;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    .loading {
      margin: 0.5rem;
      text-align: center;
      animation: blink 2s infinite;
    }
  }
}
